/node_modules
/bootstrap/cache
/public/hot
/public/storage
/public/static/uploads
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htmlhintrc
_ide_helper.php
_ide_helper_models.php
